/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: #000;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 38px;
  right: 10px;
  width: 46%;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 3%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar2 {
  position: fixed;
  top: 28px;
  left: 0;
  height: 100%;
  width: 28px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar2 .vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  font-size: 1em;
  color: white;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-top: 50px;
}

.navbar3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 3%;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar3-text {
  color: white;
  font-size: 1.0em;
  line-height: 28px;
  position: absolute;
  right: 8%;
}

/* Logo */
.logo {
  font-size: 1.0em;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

/* Countdown Timer */
.countdown-timer {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: flex-end;
  margin-left: -60px;
}

.time-block {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  min-width: 75px;
  justify-content: flex-end;
}

.time-block .number {
  font-size: 3.4em;
  font-weight: 400;
  color: red;
  line-height: 1;
  width: 60px;
  text-align: right;
}

.time-block .unit {
  font-size: 1.2em;
  color: black;
  padding-bottom: 4px;
  margin-left: 0;
  line-height: 1;
}

/* Image */
.image-wrapper {
  width: 100%;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  object-position: center center;
}

/* Spacer */
.spacer {
  width: 100%;
  height: 72px;
}

.dark-blue {
  background-color: #001f4d;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: white;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 5%;
  }

  .logo {
    font-size: 1.5em;
  }

  .countdown-timer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 5%;
    margin-top: 20px;
  }

  .time-block {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .time-block .number {
    font-size: 2em;
    width: auto;
    text-align: right;
  }

  .time-block .unit {
    font-size: 1em;
    padding-bottom: 0;
  }

  .image-wrapper {
    overflow: hidden;
    width: 100%;
    margin-top: 60px;
  }

  .image-wrapper img {
    width: 160%;
    margin-left: -30%;
    height: auto;
    object-fit: cover;
  }
}
